bin/.DS_Store
.DS_Store
target/
.vscode/launch.json
otdfctl.yaml

# Ignore the binaries
otdfctl
otdfctl.*
otdfctl_testbuild
otdfctl_testbuild.*

# Test artifacts
creds.json
bats_creds.json

# Hugo
public/
.hugo_build.lock
output/

# Ignore any TDF files created by the CLI
*.tdf