bin/.DS_Store
.DS_Store
target/
.vscode/launch.json
otdfctl.yaml
pkg/chat/log/*
pkg/chat/log/temp/*

# Ignore the tructl binary
otdfctl

# Hugo
public/
.hugo_build.lock
output/

# Ignore any TDF files created by the CLI
*.tdf