bin/.DS_Store
.DS_Store
target/
.vscode/launch.json
otdfctl.yaml

# Ignore the tructl binary
otdfctl
otdfctl_testbuild

# Misc
creds.json

# Hugo
public/
.hugo_build.lock
output/

# Ignore any TDF files created by the CLI
*.tdf