name: "CI"

on:
  pull_request: {}
  push:
    branches:
      - main
  schedule:
    - cron: "45 0 * * *"

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-file: go.mod
          go-package: ./...

  golangci:
    name: lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd
        with:
          version: v2.0.2
          # Optional: golangci-lint command line arguments.
          args: --timeout=10m
          only-new-issues: true
  unit:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: false
      - name: Unit Tests with the Go CLI
        run: go test ./... -short -race -cover

  e2e:
    name: e2e tests
    runs-on: ubuntu-latest
    steps:
      - name: Start up the platform with deps and containers
        uses: opentdf/platform/test/start-up-with-containers@main
        with:
          platform-ref: "main"
      - uses: opentdf/otdfctl/e2e@main
        with:
          otdfctl-ref: ${{ github.event.pull_request.head.sha }}
        env:
          TESTRAIL_USER: ${{ secrets.TESTRAIL_USER }}
          TESTRAIL_PASS: ${{ secrets.TESTRAIL_PASS }}

  platform-xtest:
    needs:
      - golangci
      - unit
    uses: opentdf/tests/.github/workflows/xtest.yml@main
    with:
      otdfctl-ref: ${{ github.ref }} latest
      platform-ref: main lts
      focus-sdk: go
