name: 'languagetool'

on:
  pull_request:
    branches:
      - main
      - "release/**"
    paths:
      - '**/*.md'
      - '**/*.txt'

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: reviewdog/action-languagetool@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          disabled_categories: ''
