name: 'Release'
on:
  workflow_dispatch:
    inputs:
      versionBumpType:
        description: 'Version Bump Type'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
jobs:
  build-targets:
    name: build-targets
    runs-on: ubuntu-22.04
    env:
      GOPRIVATE: github.com/opentdf/platform/*
      BIN_NAME: tructl
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
          cache: false
      - name: Get next version
        uses: reecetech/version-increment@2023.9.3
        id: version
        with:
          release_branch: main
          scheme: semver
          increment: ${{ github.event.inputs.versionBumpType }}
          pep440: false
      - name: print-version
        run: echo Incrementing Version ${{ steps.version.outputs.current-version }} -> ${{ steps.version.outputs.version }}
      - name: make-targets
        env:
          SEM_VER: ${{ steps.version.outputs.version }}
        run: make build
      - name: smoke-test
        run: go test ./... -short -race -cover
      - name: Compress the builds and generate checksums
        env:
          SEM_VER: ${{ steps.version.outputs.version }}
        run: make zip-builds
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: './output/**/*'
          body: 'This is a test release, and will be removed'
          tag_name: ${{ steps.version.outputs.version }}
          repository: opentdf/tructl
          generate_release_notes: true
