name: 'spellcheck'

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - LICENSE
      - CODEOWNERS
      - '.gitignore'
      - '**/*.go'

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: matheus23/md-spellcheck-action@v4.2.2
        with:
          files-to-check: '*.md'
          files-to-exclude: '*.go'
          words-to-ignore-file: './.github/spellcheck.ignore'
